<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p th:text="'hello hello thymeleaf'">hello thymeleaf</p>
    <div th:text="${test}"></div>
    <div th:text="${creator}"></div>
<!--    <form action="#" th:action="@{/add}" th:object="${testInfo}" method="post">-->
<!--        <input type="text" th:field="*{testInfo.TEST}" />-->
<!--        <input type="text" th:field="*{testInfo.CREATOR}" />-->
<!--        <input type="submit" />-->
<!--    </form>-->
</body>
</html>