<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <label>医生身份证号:</label>
            <input type="text" id="doctorName"/>
        </div>
        <div>
            <label>患者姓名:</label>
            <input type="text" id="userName"/>
        </div>
        <div>
            <label>患者身份证号码:</label>
            <input type="text" id="idCard"/>
        </div>
    </div>
    <button type="button" id="reset" onclick="reset()">重置</button>
    <button type="button" id="verify" onclick="verify()">人脸识别</button>
    <div>
        <label>相似率:</label>
        <div id="mazey"></div>
    </div>
    <div>
        <label>人脸图片:</label>
        <img id="imageId"/>
    </div>
</body>
<script type="text/javascript">
    function reset(){
        document.getElementById("doctorName").value = "";
        document.getElementById("idCard").value = "";
        document.getElementById("userName").value = "";
        document.getElementById("mazey").innerHTML = "";
        document.getElementById("imageId").src = "";
    }

    function verify(){
        let xmlhttp;
        if (window.XMLHttpRequest)
        {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        xmlhttp.onreadystatechange=function() {
                console.log(xmlhttp.readyState)
                console.log(xmlhttp.status)
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    console.log("回调函数:");
                    let json = JSON.parse(xmlhttp.responseText);
                    // console.log(json);
                    // console.log(json.similarityDegree);
                    // console.log(json.faceData);
                    document.getElementById("mazey").innerHTML=json.similarityDegree;
                    document.getElementById("imageId").src = "data:image/jpeg;base64," + json.faceData;
                }
        }
        let url = "http://localhost:8080/loadPic?doctorName=" +document.getElementById("doctorName").value
            +"&idCard=" + document.getElementById("idCard").value
            +"&userName=" + document.getElementById("userName").value;
        console.log(url);
        xmlhttp.open("GET",url,false);
        xmlhttp.send(null);
    }

</script>
</html>